# Entornos virtuales
venv/
env/
ENV/
env.bak/
venv.bak/

# Archivos de Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Archivos de base de datos
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env
.env.local
.env.*.local

# Logs
*.log

# Archivos de editor
.vscode/
.idea/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db